body {
    margin: 0;
    min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
table {
    margin: 0;
    padding: 0;
}

/* Style the list items */
table tr {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
table tr:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
table tr:hover {
    background: #ddd;
}

table tr td:first-child {
    font-size: 24px;
}

td {
    padding: 15px;
}

/* Style the header */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input, #status, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 0;
}

i { margin-left: 30px }

#search { width: 20% }
#current_filter {
    margin-left: 40px;
    cursor: pointer;
    height: 0;
    width: 0;
}

#addTask, #editTask, button {
    padding: 10px;
    background: #d9d9d9;
    text-align: center;
    color: #555;
    font-size: 16px;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    transition: 0.3s;
}

#addTask, #editTask {
    display: flex;
    justify-content: center;
}

#addTask:hover, #editTask:hover {
    background-color: #bbb;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: max-content;
}

/* The Close Button */
.close, .edit, .delete {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .edit:hover, .delete:hover,
.close:focus, .edit:focus, .delete:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}